app = "{{APP_NAME}}"
primary_region = "{{REGION}}"

[build]

[env]

[[vm]]
  size = "{{VM_SIZE}}"
  memory = "{{VM_MEMORY}}"

[[mounts]]
  source = "{{VOLUME_NAME}}"
  destination = "/root/.hermes"
  initial_size = "{{VOLUME_SIZE}}"
